extends layout/app


block page 
    include chunk/header

    h1 Main !!!

    ul
        each item in news
            li
                h3= item.name
                p= item.body

    include chunk/footer